@font-face {
    src: url(./assets/MinecraftRegular-Bmg3.otf);
    font-family: minecraft;
}

body {
    font-family: minecraft;
    background-color: #F2F2F2;
}

#main {
    display: flex;
}

#main > * {
    flex: 1 2 auto;
}

#calculator-body {
    flex: 2 1 auto;
    background-color:darkgray;
    border: 5px solid black;
    box-shadow: 5px 10px 2px;
    margin-top: 10vh;
    margin-left: 35vw;
    margin-right: 35vw;
    min-width: 30vw;
    min-height: 70vh;
}

#monitor {
    text-align: right;
    margin: 25px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 70px;
    min-height: 10vh;
    background-color: salmon;
    opacity: 0.75;
    border: 5px solid black;
    box-shadow: 5px 10px 2px;   
}

#button-area {
    margin: 25px;
    display: flex;
    flex-direction: column;
    
}

.button-row {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 4px;
    background-color:lightgray;
    font-family: minecraft;
    flex: 1 1 auto;
    font-size: 45px;
    border: 5px solid black;
    box-shadow: 1px 3px 2px;   
    cursor: pointer;
    opacity: 0.75;
}

button:hover {
    opacity: 1;
}